<center>
   <h1>Iris dataset</h1>
</center>

<center>
    <img src="https://wallpaperaccess.com/full/2508486.jpg" width = 400 alt="iris_picture"  />
</center>

The problems:

A customer hires you to give him/her an advise about choosing the appropriate Iris-class-flower based on 2 features about the size of petal and sepal.

Example: if he wants to have a class of Iris flowers which contains small sepal-size and large petal-size, which class will you advice him to choose?

In [17]:
src = "C:/Users/DuyAnh/Documents/Workspace(No Coding)/Data Science/data_to_train/iris.csv"

In [32]:
import pandas as pd
import scipy.stats as st
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv(src, header=None)

In [21]:
header = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

df.columns = header

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [25]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [26]:
setosa = df[df['class'] == 'Iris-setosa']
versicolor = df[df['class'] == 'Iris-versicolor']
virginica = df[df['class'] == 'Iris-virginica']

In [29]:
setosa.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [30]:
versicolor.describe()

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [33]:
virginica.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [38]:
setosa.drop(['class'], axis=1, inplace=True)

c:\Users\DuyAnh\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [54]:
setosa['sepal_area'] = list((np.array(setosa['sepal_length']) * np.array(setosa['sepal_width'])) / 4 * np.pi)

<ipython-input-54-2593c289de2f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  setosa['sepal_area'] = list((np.array(setosa['sepal_length']) * np.array(setosa['sepal_width'])) / 4 * np.pi)

In [59]:
setosa['sepal_area'] = round(setosa['sepal_area'], 2)

<ipython-input-59-608da3632ea2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  setosa['sepal_area'] = round(setosa['sepal_area'], 2)

In [61]:
setosa['l_over_w'] = list(np.array(setosa['sepal_length']) / np.array(setosa['sepal_width']))
setosa['l_over_w'] = round(setosa['l_over_w'], 2)

<ipython-input-61-a69249d182da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  setosa['l_over_w'] = list(np.array(setosa['sepal_length']) / np.array(setosa['sepal_width']))
<ipython-input-61-a69249d182da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  setosa['l_over_w'] = round(setosa['l_over_w'], 2)

In [63]:
setosa.drop(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], axis = 1, inplace=True)

c:\Users\DuyAnh\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [64]:
setosa

    sepal_area  l_over_w
0        14.02      1.46
1        11.55      1.63
2        11.81      1.47
3        11.20      1.48
4        14.14      1.39
5        16.54      1.38
6        12.28      1.35
7        13.35      1.47
8        10.02      1.52
9        11.93      1.58
10       15.69      1.46
11       12.82      1.41
12       11.31      1.60
13       10.13      1.43
14       18.22      1.45
15       19.70      1.30
16       16.54      1.38
17       14.02      1.46
18       17.01      1.50
19       15.22      1.34
20       14.42      1.59
21       14.82      1.38
22       13.01      1.28
23       13.22      1.55
24       12.82      1.41
25       11.78      1.67
26       13.35      1.47
27       14.29      1.49
28       13.89      1.53
29       11.81      1.47
30       11.69      1.55
31       14.42      1.59
32       16.74      1.27
33       18.14      1.31
34       11.93      1.58
35       12.57      1.56
36       15.12      1.57
37       11.93      1.58
38       10.37      1.47
39       13.62      1.50
40       13.74      1.43
41        8.13      1.96
42       11.06      1.38
43       13.74      1.43
44       15.22      1.34
45       11.31      1.60
46       15.22      1.34
47       11.56      1.44
48       15.40      1.43
49       12.96      1.52